#cm-way-of-working-description h5 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
#cm-way-of-working-description table {
  margin-bottom: 2rem;
}
#cm-way-of-working-description table p {
  margin: 0;
}
#cm-way-of-working-description table p + p {
  margin-top: 1rem;
}
#cm-way-of-working-description table .fs-table_header,
#cm-way-of-working-description table .fs-table_header p {
  font-weight: bold;
}
#cm-way-of-working-description table tr th {
  text-align: left;
}
#cm-way-of-working-description table tr th:first-child,
#cm-way-of-working-description table tr td:first-child {
  /* width: 25%; */
}




/* skeleton loading */ 

.cm-loading #cm-level-heading,
.cm-loading #cm-tenure-section > *,
.cm-loading #cm-compensation-section > *,
.cm-loading #cm-way-of-working-section > *,
.cm-loading .cm-sidebar-list .heading-style-h5 {
  margin: 0 auto 0 0;
}
.cm-loading #cm-compensation-table {
  width: 100%;
}
.cm-loading [data-template-id="cm-department-description"],
.cm-loading [data-template-id="cm-department-name"] {
  margin: 0 auto;
}
.cm-loading #cm-level-heading,
.cm-loading #cm-tenure-section > *,
.cm-loading #cm-compensation-section > *,
.cm-loading #cm-way-of-working-section > *,
.cm-loading .cm-sidebar-list .heading-style-h5,
.cm-loading .cm-sidebar-list ul li,
.cm-loading [data-template-id="cm-team"],
.cm-loading [data-template-id="cm-department-description"],
.cm-loading [data-template-id="cm-department-name"] {
  color: transparent;
  background: #dedede;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.cm-loading #cm-level-heading *,
.cm-loading #cm-tenure-section > * *,
.cm-loading #cm-compensation-section > * *,
.cm-loading #cm-way-of-working-section > * *,
.cm-loading .cm-sidebar-list .heading-style-h5 *,
.cm-loading .cm-sidebar-list ul li *,
.cm-loading [data-template-id="cm-team"] *,
.cm-loading [data-template-id="cm-department-description"] *,
.cm-loading [data-template-id="cm-department-name"] * {
  visibility: hidden;
}
.cm-loading #cm-level-heading:before,
.cm-loading #cm-tenure-section > *:before,
.cm-loading #cm-compensation-section > *:before,
.cm-loading #cm-way-of-working-section > *:before,
.cm-loading .cm-sidebar-list .heading-style-h5:before,
.cm-loading .cm-sidebar-list ul li:before,
.cm-loading [data-template-id="cm-team"]:before,
.cm-loading [data-template-id="cm-department-description"]:before,
.cm-loading [data-template-id="cm-department-name"]:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 5s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* skeleton loading -- end */ 