#cm-way-of-working-description h5 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
#cm-way-of-working-description table {
  margin-bottom: 2rem;
}
#cm-way-of-working-description table p {
  margin: 0;
}
#cm-way-of-working-description table p + p {
  margin-top: 1rem;
}
#cm-way-of-working-description table .fs-table_header,
#cm-way-of-working-description table .fs-table_header p {
  font-weight: bold;
}
#cm-way-of-working-description table tr th {
  text-align: left;
}
#cm-way-of-working-description table tr th:first-child,
#cm-way-of-working-description table tr td:first-child {
  width: 25%;
}




/* skeleton loading */ 

.cm-loading {
  color: transparent;
  background: #dedede;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.cm-loading * {
  visibility: hidden;
}

.cm-loading:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 5s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* skeleton loading -- end */ 